* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1277px;
    margin: 0 auto;
}

.button {
    padding: 14px 22px;
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

h2 {
    font-size: 50px;
}

/* === HEADER */

header {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 50px;
    width: 100%;
}

header ul {
    list-style: none;
    display: inline-flex;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

/* === FEATURED*/

.featured--area {
    height: 100vh;
    background-image: url("./assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.featured--one {
    display: flex;
    align-items: center;
    position: relative;
    top: 200px;
    
    color: #fff;
    background-color: #ff5b50;
}

.info--group {
    display: flex;
    align-items: flex-end;
}

