* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1277px;
    margin: 0 auto;
}

.button {
    padding: 14px 22px;
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

h2 {
    font-size: 50px;
}

/* === HEADER */

header {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 50px;
    width: 100%;
}

header ul {
    list-style: none;
    display: inline-flex;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

/* === FEATURED*/

.featured--area {
    height: calc(100vh + 100px);
    background-image: url("./assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.featured--area .flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: inherit;
}
.featured--one {
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    margin-bottom: 40px;
}

.featured--one .featured--left {
    width: 330px;
}

.featured--one h2 {
    flex: 1;
    margin: 0 80px;
}

.featured--one h2 span {
    color: #FF5B50;
}

.featured--one img {
    width: 200px;
}

.info--group {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.featured--gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 16px;
}

