* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --body-background: #0e0e0e;
    --main-color: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --btn-background: #fff;
    --light-black: #5a5757;
    --border-color: #5a5757;
    --black-text: #000;
    --input-color: #0D0D0D;
  }

body {
    background-color: var(--body-background);
    overflow-x: hidden;
}

.container {
    max-width: 1277px;
    margin: 0 auto;
}

.button {
    padding: 14px 22px;
    background-color: var(--btn-background);
    text-decoration: none;
    font-weight: 700;
    color: var(--black-text);
    border: 0;
    cursor: pointer;
}

p.big-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--light-black);
}

span {
    color: var(--main-color);
}

h2, h3, h4, h5, h6, a, p {
    color: var(--text-color);
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

/* === header */

header {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 50px;
    width: 100%;
}

header ul {
    list-style: none;
    display: inline-flex;
}

header ul li a {
    text-decoration: none;
    padding: 15px;
}

header .button {
    display: flex;
    align-items: center;
}

header .button img {
    margin-right: 10px;
}

/* === featured section */

.featured--area {
    padding-top: 160px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.featured--area .flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: inherit;
}

.featured--one {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.featured--one .featured--left {
    width: 340px;
}

.featured--one h2 {
    flex: 1;
    margin: 0 70px;
}

.featured--one img {
    width: 200px;
}

.info--group {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.info--group img {
    margin-right: 10px;
    width: 160px;
}

.featured--gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px 16px;
}

.featured--gallery img {
    border: 1px solid #fff;
}

/* === info section */

#others {
    margin-bottom: 60px;
    border-bottom: 1px solid var(--border-color);
}

.others {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.mini-sidebar {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid var(--border-color);
}

.info-values {
    margin: 25px 0;
}

.content-area {
    width: 100%;
}

.content {
    display: flex;
    gap: 4rem;
    padding: 4rem;
}

.content div {
    flex: 1;
}

.content p {
    margin-bottom: 40px;
}

.content p a {
    color: var(--main-color);
}

.image-area {
    width: 100%;
    height: 300px;
}

.image-area::after {
    content: "";
    background-image: url(../images/banner.png);
    width: inherit;
    height: inherit;
    position: absolute;
}

/* === articles section */

#articles {
    margin-bottom: 200px;
}

.articles--area {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.articles--area .left--area {
    flex: 1;
    border-right: 1px solid var(--border-color);
}

.articles--area .right--area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.articles--area article {
    max-width: 370px;
    margin-bottom: 50px;
}

.articles--area .left--area article:last-child,
.articles--area .right--area article:last-child  {
    margin-bottom: 0;
}

.articles--area article .header--area {
    display: flex;
    flex-direction: column;
}

.articles--area article .header--area .info--top,
.articles--area article .header--area .info--bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles--area article .header--area .info--top {
    margin-bottom: 25px;
}

.articles--area article .header--area .info--bottom span {
    font-size: 20px;
}

.articles--area article .header--area .info--bottom {
    margin-bottom: 15px;
}

.articles--area article .header--area div:last-child img {
    width: 20px;
}

.articles--area article .header--area a,
.articles--area article .header--area span {
    display: block;
    text-align: right;
}

.articles--area article p {
    color: var(--light-black);
}

.articles--area article img {
    width: 100%;
}

/* === artists section */

#artists h2 {
    margin-bottom: 40px;
}

.artists--area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.artist {
    display: flex;
    align-items: center;
    background-color: var(--card-color);
    padding: 25px 30px;
}

.artist:hover {
    background-color: var(--main-color);
}

.artist:hover p:last-child {
    color: #fff !important;
}

.artist img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.artist .artist-info {
    flex: 1;
}

.artist .artist-info p {
    font-size: 20px;
    color: var(--main-color);
    margin-bottom: 10px;
}

/* === footer */

footer {
    background-color: #252525;
    margin-top: 150px;
}

.footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top {
    border-bottom: 1px solid var(--border-color);
}

.footer-top .footer-area {
    padding: 30px 0;
}

.footer-top .back-top {
    background-color: var(--main-color);
    border: 0;
    padding: 20px;
    cursor: pointer;
}

.footer-main {
    border-bottom: 1px solid var(--border-color);
}

.footer-main .footer-area .left--side {
    width: 500px;
}

.footer-main .footer-area .left--side h3 {
    font-size: 30px;
    font-weight: 500;
    width: 320px;
    margin-bottom: 20px;
}

.footer-main  .footer-area .left--side #newslleter {
    display: flex;
}

.footer-main .footer-area .left--side input {
    background-color: var(--input-color);
    color: var(--light-black);
    border: 0;
    width: 280px;
    padding: 20px;
    font-size: 16px;
    outline: 0;
}

.footer-main .footer-area .left--side .button {
    font-weight: 700;
    font-size: 16px;
}

.footer-area .right--side {
    height: inherit;
    flex: 1;
    border-left: 1px solid var(--border-color);
}

.footer-area .right--side .links-area {
    display: flex;
    padding: 80px 0 80px 80px;
}

.footer-area .right--side .links-area .column {
    flex: 1;
}

.footer-area .right--side .links-area .column h4 {
    margin-bottom: 10px;
}

.footer-area .right--side .links-area .column ul {
    list-style: none;
}

.footer-area .right--side .links-area .column ul li {
    padding: 7px 0;
}

.footer-area .right--side .links-area .column ul a {
    color: var(--light-black);
    text-decoration: none;
}
.footer-bottom .footer-area {
    padding: 30px 0;
}
.footer-bottom .footer-area p {
    color: var(--light-black);
}

.footer-bottom .social-icons {
    display: flex;
    gap: 35px;
}

.footer-bottom .social-icons img {
    width: 30px;
}

/* === scroll bar */

::-webkit-scrollbar-track {
    background-color: #232C3B;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 15px;
}